In [1]:
# import necessary modules
import pandas as pd
import os

In [2]:
# define the source data paths
students_csvPath = os.path.join('Resources', 'students_complete.csv')
schools_csvPath = os.path.join('Resources', 'schools_complete.csv')

In [3]:
# read the data into their initial dataframs
source_students_df = pd.read_csv(students_csvPath)
source_schools_df = pd.read_csv(schools_csvPath)

In [4]:
# rename columns to use universal formatting
source_students_df = source_students_df.rename(columns={
                                    'Student ID': 'Student_ID',
                                    'student_name': 'Student_Name',
                                    'gender': 'Gender',
                                    'grade': 'Grade',
                                    'school_name': 'School_Name',
                                    'reading_score': 'Reading_Score',
                                    'math_score': 'Math_Score'})

source_schools_df = source_schools_df.rename(columns={
                                    'School ID': 'School_ID',
                                    'school_name': 'School_Name',
                                    'type': 'School_Type',
                                    'size': 'Total_Students',
                                    'budget': 'Total_School_Budget'})

# add a counting column to the source_students_df dataframe
source_students_df['Student_Counter'] = 1

In [5]:
# define threshold values
passingThreshold = 70

In [6]:
# calculate the district summary metrics
dsum_totalSchools = source_schools_df.nunique()['School_Name']
dsum_totalStudents = source_schools_df['Total_Students'].sum()
dsum_totalBudget = source_schools_df['Total_School_Budget'].sum()
dsum_avgMathScore = source_students_df['Math_Score'].mean()
dsum_avgReadingScore = source_students_df['Reading_Score'].mean()
dsum_passingMath = sum(source_students_df.Math_Score >= passingThreshold) / dsum_totalStudents * 100
dsum_passinReading = sum(source_students_df.Reading_Score >= passingThreshold) / dsum_totalStudents * 100
dsum_passingBoth = sum(
                (source_students_df.Math_Score >= passingThreshold) &
                (source_students_df.Reading_Score >= passingThreshold)) / dsum_totalStudents * 100

In [7]:
# create and format the district summary DataFrame
district_summary_df = pd.DataFrame({
    'Total Schools': [dsum_totalSchools],
    'Total Students': f'{dsum_totalStudents:,.0f}',
    'Total Budget': f'${dsum_totalBudget:,.2f}',
    'Avg Math Score': f'{dsum_avgMathScore:,.2f}',
    'Avg Reading Score': f'{dsum_avgReadingScore:,.2f}',
    'Passing Math': f'{dsum_passingMath:,.2f}%',
    'Passing Reading': f'{dsum_passinReading:,.2f}%',
    'Passing': f'{dsum_passingBoth:,.2f}%'})

# display the 
district_summary_df.style.hide_index()

In [8]:
# create filtered dataframes that meet various criteria
passingMath_df = source_students_df.loc[source_students_df['Math_Score'] >= passingThreshold, :]
passingRead_df = source_students_df.loc[source_students_df['Reading_Score'] >= passingThreshold, :]
passingBoth_df = source_students_df.loc[
        (source_students_df['Math_Score'] >= passingThreshold) & 
        (source_students_df['Reading_Score'] >= passingThreshold)]

In [9]:
# merge the relevant datasets
schools_summary_df = pd.merge(source_schools_df, source_students_df.groupby('School_Name').sum(), on='School_Name')
math_merged_df = pd.merge(source_schools_df, passingMath_df.groupby('School_Name').count(), on='School_Name')
read_merged_df = pd.merge(source_schools_df, passingRead_df.groupby('School_Name').count(), on='School_Name')
both_merged_df = pd.merge(source_schools_df, passingBoth_df.groupby('School_Name').count(), on='School_Name')

In [10]:
# create the summary school dataframe
schools_summary_df['Per_Student_Budget'] = schools_summary_df['Total_School_Budget'] / schools_summary_df['Total_Students']
schools_summary_df['Average_Math_Score'] = schools_summary_df['Math_Score'] / schools_summary_df['Total_Students']
schools_summary_df['Average_Reading_Score'] = schools_summary_df['Reading_Score'] / schools_summary_df['Total_Students']
schools_summary_df['Passing_Math'] = math_merged_df['Student_Counter'] / math_merged_df['Total_Students'] * 100
schools_summary_df['Passing_Reading'] = read_merged_df['Student_Counter'] / read_merged_df['Total_Students'] * 100
schools_summary_df['Passing_Both'] = both_merged_df['Student_Counter'] / both_merged_df['Total_Students'] * 100

In [11]:
# reorder the columns
reordered_schools_summary_df = schools_summary_df[[
                                'School_Name',
                                'School_Type',
                                'Total_Students',
                                'Total_School_Budget',
                                'Per_Student_Budget',
                                'Average_Math_Score',
                                'Average_Reading_Score',
                                'Passing_Math',
                                'Passing_Reading',
                                'Passing_Both']]

In [12]:
# rename the columns
renamed_schools_summary_df = reordered_schools_summary_df.rename(columns={
                                'School_Name': 'School Name',
                                'School_Type': 'School Type',
                                'Total_Students': 'Total Students',
                                'Total_School_Budget': 'Total School Budget',
                                'Per_Student_Budget': 'Per Student Budget',
                                'Average_Math_Score': 'Average Math Score',
                                'Average_Reading_Score': 'Average Reading Score',
                                'Passing_Math': '% Passing Math',
                                'Passing_Reading': '% Passing Reading',
                                'Passing_Both': '% Overall Passing'})

In [13]:
# create a copy for column reformatting
reformatted_schools_summary_df = renamed_schools_summary_df.copy(deep=False)

# reformat the columns
reformatted_schools_summary_df['Total Students'] = reformatted_schools_summary_df['Total Students'].map('{:,.0f}'.format)
reformatted_schools_summary_df['Total School Budget'] = reformatted_schools_summary_df['Total School Budget'].map('${:,.2f}'.format)
reformatted_schools_summary_df['Per Student Budget'] = reformatted_schools_summary_df['Per Student Budget'].map('${:,.2f}'.format)
reformatted_schools_summary_df['Average Math Score'] = reformatted_schools_summary_df['Average Math Score'].map('{:,.2f}'.format)
reformatted_schools_summary_df['Average Reading Score'] = reformatted_schools_summary_df['Average Reading Score'].map('{:,.2f}'.format)
reformatted_schools_summary_df['% Passing Math'] = reformatted_schools_summary_df['% Passing Math'].map('{:,.2f}%'.format)
reformatted_schools_summary_df['% Passing Reading'] = reformatted_schools_summary_df['% Passing Reading'].map('{:,.2f}%'.format)
reformatted_schools_summary_df['% Overall Passing'] = reformatted_schools_summary_df['% Overall Passing'].map('{:,.2f}%'.format)

In [14]:
# sort the reformatted dataframe
final_school_summary_df = reformatted_schools_summary_df.sort_values('School Name', ascending=True).reset_index(drop=True)
final_school_summary_df.style.hide_index()

In [20]:
# display the top five schools by % Overall Passing
best_schools_df = final_school_summary_df.sort_values('% Overall Passing', ascending=False)
best_schools_df.head(5).style.hide_index()

In [23]:
# display the bottom five schools by % Overall Passing
worst_schools_df = final_school_summary_df.sort_values('% Overall Passing', ascending=True)
worst_schools_df.head(5).style.hide_index()